.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity:1;
  pointer-events: all;
}
.modal__content {

 
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 30vw;
  transform:  scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.content {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column; /* Для вертикального размещения элементов */
  
  justify-content: space-between; /* Создает пространство между элементами */
  align-items: center;

}
.closeButton {
  
  margin: auto;
  align-self: flex-end;
  font-size: 15px;
  border: none; 
  font-family: sans-serif;
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;  
  transition: 0.2s;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-top:30px;
}
.closeButton:hover {
  transition: 0.2s;
  background-color: #0a58ca;
  border-color:#0a58ca;
}

h2 {
  margin-bottom:20px;
}